In [2]:
import pandas as pd

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Math': [85, 92, 78, 88, 95],
        'Science': [90, 88, 85, 92, 80],
        'English': [75, 80, 92, 85, 90]}

df = pd.DataFrame(data)
print(df)

      Name  Math  Science  English
0    Alice    85       90       75
1      Bob    92       88       80
2  Charlie    78       85       92
3    David    88       92       85
4      Eve    95       80       90

In [6]:
df.Name

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object

In [8]:
df['Math']

0    85
1    92
2    78
3    88
4    95
Name: Math, dtype: int64

In [12]:
df[['Math', 'Science']]

   Math  Science
0    85       90
1    92       88
2    78       85
3    88       92
4    95       80

In [26]:
charlie_row= df[df['Name'] == 'Charlie' ]

In [30]:
print(charlie_row)

      Name  Math  Science  English
2  Charlie    78       85       92

In [34]:
 df.loc[, 'Math']

KeyError: 'Alice'